@import 'libs/bootstrap-reboot.min';
@import 'libs/fonts';
@import 'libs/tiny-slider';

@import 'base/variables';

* {
    font-family: 'Museo Sans Cyrl', sans-serif;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/title';
@import 'blocks/advantages';
@import 'blocks/work';
@import 'blocks/china';
@import 'blocks/choice';
@import 'blocks/manager';
@import 'blocks/plan';
@import 'blocks/reviews';
@import 'blocks/question';
@import 'blocks/map';
@import 'blocks/footer';
@import 'blocks/modal';
@import 'blocks/pageup';
@import 'blocks/media';