.title {
    font-size: 26px;
    font-weight: 700;
    color: #2e2e2e;
    text-transform: uppercase;
    text-align: center;
}

.hr {
    width: 148px;
    color: red;
    margin: 20px auto;
    height: 2px;
}

.subheader {
    color: #2e2e2e;
    font-size: 21px;
    font-weight: 300;
    text-align: center;
}